<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HTMX CRUD</title>
  <script src="https://unpkg.com/htmx.org@1.9.7" integrity="sha384-EAzY246d6BpbWR7sQ8+WEm40J8c3dHFsqC58IgPlh4kMbRRI6P6WA+LA/qGAyAu8" crossorigin="anonymous"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <base href="http://localhost:9090/">
</head>
  <body>
    <div class="max-w-[400px] mx-auto my-12">
      <h1 class="text-center mb-4">HTMX+GO Todo</h1>
      <form hx-post="/addTodo" hx-target="#todos" class="grid place-items-center gap-4">
        <input type="text" name="title" placeholder="Title" class="border p-2 rounded-md focus:outline-none w-full">
        <textarea placeholder="Description" name="description" class="border p-2 rounded-md focus:outline-none min-h-[80px] max-h-[200px] w-full"></textarea>
        <button type="submit" class="w-full bg-green-600 p-2 rounded-md text-white">Add</button>
      </form>
    </div>
    <div hx-get="/todos" hx-trigger="load" id="todos" class="text-center"></div>
  </body>
</html>