<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HTMX CRUD</title>
  <script src="https://unpkg.com/htmx.org@1.9.7" integrity="sha384-EAzY246d6BpbWR7sQ8+WEm40J8c3dHFsqC58IgPlh4kMbRRI6P6WA+LA/qGAyAu8" crossorigin="anonymous"></script>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
  <body>
    <ul id="todos" class="text-center">
      {{ range . }}
      <li class="flex justify-center">
        <strong>{{ .Title }}</strong>: {{ .Description }}
        <button class="h-[20px] w-[20px] flex justify-center items-center rounded-full bg-red-500 text-white ml-[10px]" hx-delete="/removeTodo/{{.ID}}" hx-target="#todos">x</button>
      </li>
      {{ end }}
    </ul>
  </body>
</html>