<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HTMX CRUD</title>
  <script src="https://unpkg.com/htmx.org@1.9.7" integrity="sha384-EAzY246d6BpbWR7sQ8+WEm40J8c3dHFsqC58IgPlh4kMbRRI6P6WA+LA/qGAyAu8" crossorigin="anonymous"></script>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
  <body>
    <li class="flex justify-center flex-col gap-2 todo my-2">
      <input type="text" value="{{ .Title }}" class="border p-2 rounded-md focus:outline-none w-full" />
      <textarea type="text" value="{{ .Description }}" class="border p-2 rounded-md focus:outline-none min-h-[80px] max-h-[200px] w-full">{{ .Description }}</textarea>
      <!-- <button class="h-[20px] w-[20px] flex justify-center items-center rounded-full bg-red-green text-white ml-[10px]" hx-get="/getTodo/{{.ID}}" hx-swap=".todo">cancel</button>
      <button class="h-[20px] w-[20px] flex justify-center items-center rounded-full bg-red-500 text-white ml-[10px]" hx-patch="/updateTodo/{{.ID}}" hx-target="#todos">confirm</button> -->
    </li>
  </body>
</html>